## RETRIEVE VALUE FROM OSO CONTRACT GENERATOR

HPCR_CERT=<<-EOT
EOT

# Container Configuration
REGISTRY12_URL="192.168.0.2"
REGISTRY_USERNAME=""
REGISTRY_PASSWORD=""
#base64 root CA pem
REGISTRY_CA=""

# Logging Configuration
SYSLOG12_HOSTNAME="192.168.0.1"
SYSLOG12_PORT=6514
SYSLOG12_SERVER_CERT=<<-EOT
EOT
SYSLOG12_CLIENT_CERT=<<-EOT
EOT
SYSLOG12_CLIENT_KEY=<<-EOT
EOT

